h1, ol, ul, li, button {
    margin: 0;
    padding: 0
}
button {
    border: none;
    background: none
}
body {
    background: #fff
}

body, input, button {
            font-size: 14px;
            font-family: arial, sans-serif;
            color: #222
}

        a {
            color: #1a0dab;
            text-decoration: none
        }

        a:hover,
        a:active {
            text-decoration: underline
        }

        a:visited {
            color: #609
        }

        html,
        body {
            min-width: 400px
        }

        body,
        html {
            height: 100%;
            margin: 0;
            padding: 0
        }

        .gb_Wa:not(.gb_Fd) {
            font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
            z-index: 986
        }
        a.gb_0 {
            border: none;
            color: #4285f4;
            cursor: default;
            font-weight: bold;
            outline: none;
            position: relative;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            white-space: nowrap;
            
        }

        a.gb_0:hover:after,
        a.gb_0:focus:after {
            background-color: rgba(0, 0, 0, .12);
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%
        }

        a.gb_0:hover,
        a.gb_0:focus {
            text-decoration: none
        }

        a.gb_0:active {
            background-color: rgba(153, 153, 153, .4);
            text-decoration: none
        }

        a.gb_1 {
            background-color: #4285f4;
            color: #fff
        }

        a.gb_1:active {
            background-color: #0043b2
        }

        .gb_2 {
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .16);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .16)
        }

        .gb_0,
        .gb_1,
        .gb_3,
        .gb_4 {
            display: inline-block;
            line-height: 28px;
            padding: 0 12px;
            -webkit-border-radius: 2px;
            border-radius: 2px
        }

        .gb_3 {
            background: #f8f8f8;
            border: 1px solid #c6c6c6
        }

        .gb_4 {
            background: #f8f8f8
        }

        .gb_3,
        #gb a.gb_3.gb_3,
        .gb_4 {
            color: #666;
            cursor: default;
            text-decoration: none
        }

        #gb a.gb_4.gb_4 {
            cursor: default;
            text-decoration: none
        }

        .gb_4 {
            border: 1px solid #4285f4;
            font-weight: bold;
            outline: none;
            background: #4285f4;
            background: -webkit-linear-gradient(top, #4387fd, #4683ea);
            background: linear-gradient(top, #4387fd, #4683ea);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd, endColorstr=#4683ea, GradientType=0)
        }

        #gb a.gb_4.gb_4 {
            color: #fff
        }

        .gb_4:hover {
            -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
            box-shadow: 0 1px 0 rgba(0, 0, 0, .15)
        }

        .gb_4:active {
            -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
            box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
            background: #3c78dc;
            background: -webkit-linear-gradient(top, #3c7ae4, #3f76d3);
            background: linear-gradient(top, #3c7ae4, #3f76d3);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3c7ae4, endColorstr=#3f76d3, GradientType=0)
        }

        .gb_Ba {
            display: none !important
        }

        .gb_Ca {
            visibility: hidden
        }

        .gb_cd {
            display: inline-block;
            vertical-align: middle
        }

        .gb_Bf {
            position: relative
        }

        .gb_D {
            display: inline-block;
            outline: none;
            vertical-align: middle;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            height: 40px;
            width: 40px;
            color: #000;
            cursor: pointer;
            text-decoration: none
        }

        #gb#gb a.gb_D {
            color: #000;
            cursor: pointer;
            text-decoration: none
        }

        .gb_Za {
            border-color: transparent;
            border-bottom-color: #fff;
            border-style: dashed dashed solid;
            border-width: 0 8.5px 8.5px;
            display: none;
            position: absolute;
            left: 11.5px;
            top: 43px;
            z-index: 1;
            height: 0;
            width: 0;
            -webkit-animation: gb__a .2s;
            animation: gb__a .2s
        }

        .gb_0a {
            border-color: transparent;
            border-style: dashed dashed solid;
            border-width: 0 8.5px 8.5px;
            display: none;
            position: absolute;
            left: 11.5px;
            z-index: 1;
            height: 0;
            width: 0;
            -webkit-animation: gb__a .2s;
            animation: gb__a .2s;
            border-bottom-color: #ccc;
            border-bottom-color: rgba(0, 0, 0, .2);
            top: 42px
        }

        x:-o-prefocus,
        div.gb_0a {
            border-bottom-color: #ccc
        }

        .gb_F {
            background: #fff;
            border: 1px solid #ccc;
            border-color: rgba(0, 0, 0, .2);
            color: #000;
            -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
            box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
            display: none;
            outline: none;
            overflow: hidden;
            position: absolute;
            right: 8px;
            top: 62px;
            -webkit-animation: gb__a .2s;
            animation: gb__a .2s;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            
        }

        .gb_cd.gb_ma .gb_Za,
        .gb_cd.gb_ma .gb_0a,
        .gb_cd.gb_ma .gb_F,
        .gb_ma.gb_F {
            display: block
        }

        .gb_cd.gb_ma.gb_Cf .gb_Za,
        .gb_cd.gb_ma.gb_Cf .gb_0a {
            display: none
        }

        .gb_Df {
            position: absolute;
            right: 8px;
            top: 62px;
            z-index: -1
        }

        .gb_Ka .gb_Za,
        .gb_Ka .gb_0a,
        .gb_Ka .gb_F {
            margin-top: -10px
        }

        .gb_cd:first-child,
        #gbsfw:first-child+.gb_cd {
            padding-left: 4px
        }

        .gb_qa.gb_Te .gb_cd:first-child {
            padding-left: 0
        }

        .gb_Ue {
            position: relative
        }

        .gb_Nc .gb_Ue,
        .gb_0d .gb_Ue {
            float: right
        }

        .gb_D {
            padding: 8px;
            cursor: pointer
        }

        .gb_qa .gb_4c:not(.gb_0):focus img {
            background-color: rgba(0, 0, 0, 0.20);
            outline: none;
            -webkit-border-radius: 50%;
            border-radius: 50%
        }

        .gb_Ve button:focus svg,
        .gb_Ve button:hover svg,
        .gb_Ve button:active svg,
        .gb_D:focus,
        .gb_D:hover,
        .gb_D:active,
        .gb_D[aria-expanded=true] {
            outline: none;
            -webkit-border-radius: 50%;
            border-radius: 50%
        }

        .gb_wc .gb_Ve.gb_We button:focus svg,
        .gb_wc .gb_Ve.gb_We button:focus:hover svg,
        .gb_Ve button:focus svg,
        .gb_Ve button:focus:hover svg,
        .gb_D:focus,
        .gb_D:focus:hover {
            background-color: rgba(60, 64, 67, 0.1)
        }

        .gb_wc .gb_Ve.gb_We button:active svg,
        .gb_Ve button:active svg,
        .gb_D:active {
            background-color: rgba(60, 64, 67, 0.12)
        }

        .gb_wc .gb_Ve.gb_We button:hover svg,
        .gb_Ve button:hover svg,
        .gb_D:hover {
            background-color: rgba(60, 64, 67, 0.08)
        }

        .gb_ja .gb_D.gb_Na:hover {
            background-color: transparent
        }

        .gb_D[aria-expanded=true],
        .gb_D:hover[aria-expanded=true] {
            background-color: rgba(95, 99, 104, 0.24)
        }

        .gb_D[aria-expanded=true] .gb_Xe,
        .gb_D[aria-expanded=true] .gb_Ze {
            fill: #5f6368;
            opacity: 1
        }

        .gb_wc .gb_Ve button:hover svg,
        .gb_wc .gb_D:hover {
            background-color: rgba(232, 234, 237, 0.08)
        }

        .gb_wc .gb_Ve button:focus svg,
        .gb_wc .gb_Ve button:focus:hover svg,
        .gb_wc .gb_D:focus,
        .gb_wc .gb_D:focus:hover {
            background-color: rgba(232, 234, 237, 0.10)
        }

        .gb_wc .gb_Ve button:active svg,
        .gb_wc .gb_D:active {
            background-color: rgba(232, 234, 237, 0.12)
        }

        .gb_wc .gb_D[aria-expanded=true],
        .gb_wc .gb_D:hover[aria-expanded=true] {
            background-color: rgba(255, 255, 255, 0.12)
        }

        .gb_wc .gb_D[aria-expanded=true] .gb_Xe,
        .gb_wc .gb_D[aria-expanded=true] .gb_Ze {
            fill: #ffffff;
            opacity: 1
        }

        .gb_cd {
            padding: 4px
        }

        .gb_qa.gb_Te .gb_cd {
            padding: 4px 2px
        }

        .gb_qa.gb_Te .gb_Oa.gb_cd {
            padding-left: 6px
        }

        .gb_F {
            z-index: 991;
            line-height: normal
        }

        .gb_F.gb_0e {
            left: 8px;
            right: auto
        }

        @media (max-width:350px) {
            .gb_F.gb_0e {
                left: 0
            }
        }

        .gb_1e .gb_F {
            top: 56px
        }

        .gb_C .gb_D,
        .gb_E .gb_C .gb_D {
            background-position: -64px -29px
        }

        .gb_j .gb_C .gb_D {
            background-position: -29px -29px;
            opacity: 1
        }

        .gb_C .gb_D,
        .gb_C .gb_D:hover,
        .gb_C .gb_D:focus {
            opacity: 1
        }

        .gb_Hd {
            display: none
        }

        .gb_Vc {
            font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: .25px;
            line-height: 48px;
            margin-bottom: 2px;
            opacity: 1;
            overflow: hidden;
            padding-left: 16px;
            position: relative;
            text-overflow: ellipsis;
            vertical-align: middle;
            top: 2px;
            white-space: nowrap;
            -webkit-flex: 1 1 auto;
            flex: 1 1 auto
        }

        .gb_Vc.gb_Wc {
            color: #3c4043
        }

        .gb_qa.gb_ra .gb_Vc {
            margin-bottom: 0
        }

        .gb_Xc.gb_Zc .gb_Vc {
            padding-left: 4px
        }

        .gb_qa.gb_ra .gb_0c {
            position: relative;
            top: -2px
        }

        .gb_qa {
            color: black;
            min-width: 320px;
            position: relative;
            -webkit-transition: box-shadow 250ms;
            transition: box-shadow 250ms
        }

        .gb_qa.gb_Ec {
            min-width: 240px
        }

        .gb_qa.gb_Id .gb_Jd {
            display: none
        }

        .gb_qa.gb_Id .gb_Kd {
            height: 56px
        }

        header.gb_qa {
            display: block
        }

        .gb_qa svg {
            fill: currentColor
        }

        .gb_Ld {
            position: fixed;
            top: 0;
            width: 100%
        }

        .gb_Md {
            -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2)
        }

        .gb_Nd {
            height: 64px
        }

        .gb_qa:not(.gb_Ic) .gb_2c.gb_3c:not(.gb_Od):not(.gb_Pd),
        .gb_qa:not(.gb_Ic) .gb_Cd:not(.gb_Od):not(.gb_Pd),
        .gb_qa.gb_Qd .gb_2c.gb_3c.gb_Od,
        .gb_qa.gb_Qd .gb_Cd.gb_Od,
        .gb_qa.gb_Qd .gb_2c.gb_3c.gb_Pd,
        .gb_qa.gb_Qd .gb_Cd.gb_Pd {
            display: none !important
        }

        .gb_Kd {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            position: relative;
            width: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: space-between;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            min-width: -webkit-min-content;
            min-width: min-content
        }

        .gb_qa:not(.gb_ra) .gb_Kd {
            padding: 8px
        }

        .gb_qa.gb_Rd .gb_Kd {
            -webkit-flex: 1 0 auto;
            flex: 1 0 auto
        }

        .gb_qa .gb_Kd.gb_Sd.gb_Td {
            min-width: 0
        }

        .gb_qa.gb_ra .gb_Kd {
            padding: 4px;
            padding-left: 8px;
            min-width: 0
        }

        .gb_Jd {
            height: 48px;
            vertical-align: middle;
            white-space: nowrap;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            
        }

        .gb_Vd>.gb_Jd {
            display: table-cell;
            width: 100%
        }

        .gb_Xc {
            padding-right: 30px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-flex: 1 0 auto;
            flex: 1 0 auto
        }

        .gb_qa.gb_ra .gb_Xc {
            padding-right: 14px
        }

        .gb_Wd {
            -webkit-flex: 1 1 100%;
            flex: 1 1 100%
        }

        .gb_Wd>:only-child {
            display: inline-block
        }

        .gb_Xd.gb_Oc {
            padding-left: 4px
        }

        .gb_Xd.gb_Zd,
        .gb_qa.gb_Rd .gb_Xd,
        .gb_qa.gb_ra:not(.gb_0d) .gb_Xd {
            padding-left: 0
        }

        .gb_qa.gb_ra .gb_Xd.gb_Zd {
            padding-right: 0
        }

        .gb_qa.gb_ra .gb_Xd.gb_Zd .gb_ja {
            margin-left: 10px
        }

        .gb_Oc {
            display: inline
        }

        .gb_qa.gb_Ic .gb_Xd.gb_1d,
        .gb_qa.gb_0d .gb_Xd.gb_1d {
            padding-left: 2px
        }

        .gb_Vc {
            display: inline-block
        }

        .gb_Xd {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            height: 48px;
            line-height: normal;
            padding: 0 4px;
            padding-left: 30px;
            -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
            -webkit-box-pack: flex-end;
            -webkit-justify-content: flex-end;
            justify-content: flex-end
        }

        .gb_0d {
            height: 48px
        }

        .gb_qa.gb_0d {
            min-width: initial;
            min-width: auto
        }

        .gb_0d .gb_Xd {
            float: right;
            padding-left: 32px
        }

        .gb_0d .gb_Xd.gb_2d {
            padding-left: 0
        }

        .gb_3d {
            font-size: 14px;
            max-width: 200px;
            overflow: hidden;
            padding: 0 12px;
            text-overflow: ellipsis;
            white-space: nowrap;
            
        }

        .gb_4d {
            -webkit-transition: background-color .4s;
            transition: background-color .4s
        }

        .gb_5d {
            color: black
        }

        .gb_wc {
            color: white
        }

        .gb_qa a,
        .gb_Bc a {
            color: inherit
        }

        .gb_t {
            color: rgba(0, 0, 0, 0.87)
        }

        .gb_qa svg,
        .gb_Bc svg,
        .gb_Xc .gb_6d,
        .gb_Nc .gb_6d {
            color: #5f6368;
            opacity: 1
        }

        .gb_wc svg,
        .gb_Bc.gb_Fc svg,
        .gb_wc .gb_Xc .gb_6d,
        .gb_wc .gb_Xc .gb_vc,
        .gb_wc .gb_Xc .gb_0c,
        .gb_Bc.gb_Fc .gb_6d {
            color: rgba(255, 255, 255, .87)
        }

        .gb_wc .gb_Xc .gb_uc:not(.gb_7d) {
            opacity: .87
        }

        .gb_Wc {
            color: inherit;
            opacity: 1;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased
        }

        .gb_wc .gb_Wc,
        .gb_5d .gb_Wc {
            opacity: 1
        }

        .gb_8d {
            position: relative
        }

        .gb_9d {
            font-family: arial, sans-serif;
            line-height: normal;
            padding-right: 15px
        }

        a.gb_g,
        span.gb_g {
            color: rgba(0, 0, 0, 0.87);
            text-decoration: none
        }

        .gb_wc a.gb_g,
        .gb_wc span.gb_g {
            color: white
        }

        a.gb_g:focus {
            outline-offset: 2px
        }

        a.gb_g:hover {
            text-decoration: underline
        }

        .gb_h {
            display: inline-block;
            padding-left: 15px
        }

        .gb_h .gb_g {
            display: inline-block;
            line-height: 24px;
            vertical-align: middle
        }

        .gb_ae {
            font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: .25px;
            line-height: 16px;
            margin-left: 10px;
            margin-right: 8px;
            min-width: 96px;
            padding: 9px 23px;
            text-align: center;
            vertical-align: middle;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box
        }

        .gb_qa.gb_0d .gb_ae {
            margin-left: 8px
        }

        #gb a.gb_4.gb_4.gb_ae,
        #gb a.gb_3.gb_3.gb_ae {
            cursor: pointer
        }

        .gb_4.gb_ae:hover {
            background: #2b7de9;
            -webkit-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15);
            box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15)
        }

        .gb_4.gb_ae:focus,
        .gb_4.gb_ae:hover:focus {
            background: #5094ed;
            -webkit-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15);
            box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15)
        }

        .gb_4.gb_ae:active {
            background: #63a0ef;
            -webkit-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15);
            box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15)
        }

        .gb_ae:not(.gb_3) {
            background: #1a73e8;
            border: 1px solid transparent
        }

        .gb_qa.gb_ra .gb_ae {
            padding: 9px 15px;
            min-width: 80px
        }

        .gb_be {
            text-align: left
        }

        #gb a.gb_ae.gb_3,
        #gb .gb_wc a.gb_ae,
        #gb.gb_wc a.gb_ae {
            background: #ffffff;
            border-color: #dadce0;
            -webkit-box-shadow: none;
            box-shadow: none;
            color: #1a73e8
        }

        #gb a.gb_4.gb_ka.gb_ce.gb_ae {
            background: #8ab4f8;
            border: 1px solid transparent;
            -webkit-box-shadow: none;
            box-shadow: none;
            color: #202124
        }

        #gb a.gb_ae.gb_3:hover,
        #gb .gb_wc a.gb_ae:hover,
        #gb.gb_wc a.gb_ae:hover {
            background: #f8fbff;
            border-color: #cce0fc
        }

        #gb a.gb_4.gb_ka.gb_ce.gb_ae:hover {
            background: #93baf9;
            -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.3)
        }

        #gb a.gb_ae.gb_3:focus,
        #gb a.gb_ae.gb_3:focus:hover,
        #gb .gb_wc a.gb_ae:focus,
        #gb .gb_wc a.gb_ae:focus:hover,
        #gb.gb_wc a.gb_ae:focus,
        #gb.gb_wc a.gb_ae:focus:hover {
            background: #f4f8ff;
            border-color: #c9ddfc
        }

        #gb a.gb_4.gb_ka.gb_ce.gb_ae:focus,
        #gb a.gb_4.gb_ka.gb_ce.gb_ae:focus:hover {
            background: #a6c6fa;
            -webkit-box-shadow: none;
            box-shadow: none
        }

        #gb a.gb_ae.gb_3:active,
        #gb .gb_wc a.gb_ae:active,
        #gb.gb_wc a.gb_ae:active {
            background: #ecf3fe
        }

        #gb a.gb_4.gb_ka.gb_ce.gb_ae:active {
            background: #a1c3f9;
            -webkit-box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
            box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15)
        }

        #gb a.gb_ae.gb_3:not(.gb_ka):active {
            -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
            box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15)
        }

        .gb_ja {
            background-color: rgba(255, 255, 255, 0.88);
            border: 1px solid #dadce0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            cursor: pointer;
            display: inline-block;
            max-height: 48px;
            overflow: hidden;
            outline: none;
            padding: 0;
            vertical-align: middle;
            width: 134px;
            -webkit-border-radius: 8px;
            border-radius: 8px
        }

        .gb_ja.gb_ka {
            background-color: transparent;
            border: 1px solid #5f6368
        }

        .gb_la {
            display: inherit
        }

        .gb_ja.gb_ka .gb_la {
            background: #ffffff;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            display: inline-block;
            left: 8px;
            margin-right: 5px;
            position: relative;
            padding: 3px;
            top: -1px
        }

        .gb_ja:hover {
            border: 1px solid #d2e3fc;
            background-color: rgba(248, 250, 255, 0.88)
        }

        .gb_ja.gb_ka:hover {
            border: 1px solid #5f6368;
            background-color: rgba(232, 234, 237, 0.08)
        }

        .gb_ja:focus {
            border: 1px solid #fff;
            background-color: rgba(255, 255, 255);
            -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
            box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15)
        }

        .gb_ja.gb_ka:focus {
            border: 1px solid #e8eaed;
            background-color: #38383b
        }

        .gb_ja.gb_ka:active,
        .gb_ja.gb_ma.gb_ka:focus {
            border: 1px solid #5f6368;
            background-color: #333438
        }

        .gb_na {
            display: inline-block;
            padding-left: 7px;
            padding-bottom: 2px;
            text-align: center;
            vertical-align: middle;
            line-height: 32px;
            width: 78px
        }

        .gb_ja.gb_ka .gb_na {
            line-height: 26px;
            width: 72px;
            padding-left: 0;
            padding-bottom: 0
        }

        .gb_na.gb_oa {
            background-color: #f1f3f4;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            margin-left: 8px;
            padding-left: 0
        }

        .gb_na.gb_oa .gb_pa {
            vertical-align: middle
        }

        .gb_qa:not(.gb_ra) .gb_ja {
            margin-left: 10px;
            margin-right: 4px
        }

        .gb_sa {
            max-height: 32px;
            width: 78px
        }

        .gb_ja.gb_ka .gb_sa {
            max-height: 26px;
            width: 72px
        }

        .gb_Da {
            -webkit-background-size: 32px 32px;
            background-size: 32px 32px;
            border: 0;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            display: block;
            margin: 0;
            position: relative;
            height: 32px;
            width: 32px;
            z-index: 0
        }

        .gb_Ea {
            background-color: #e8f0fe;
            border: 1px solid rgba(32, 33, 36, .08);
            position: relative
        }

        .gb_Ea.gb_Da {
            height: 30px;
            width: 30px
        }

        .gb_Ea.gb_Da:hover,
        .gb_Ea.gb_Da:active {
            -webkit-box-shadow: none;
            box-shadow: none
        }

        .gb_Fa {
            background: #fff;
            border: none;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            bottom: 2px;
            -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
            box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
            height: 14px;
            margin: 2px;
            position: absolute;
            right: 0;
            width: 14px
        }

        .gb_Ha {
            color: #1f71e7;
            font: 400 22px/32px Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
            text-align: center;
            text-transform: uppercase
        }

        @media (min-resolution:1.25dppx),
        (-o-min-device-pixel-ratio:5/4),
        (-webkit-min-device-pixel-ratio:1.25),
        (min-device-pixel-ratio:1.25) {
            .gb_Da::before {
                display: inline-block;
                -webkit-transform: scale(.5);
                transform: scale(.5);
                -webkit-transform-origin: left 0;
                transform-origin: left 0
            }

            .gb_Ia::before {
                display: inline-block;
                -webkit-transform: scale(.5);
                transform: scale(.5);
                -webkit-transform-origin: left 0;
                transform-origin: left 0
            }

            .gb_l .gb_Ia::before {
                -webkit-transform: scale(0.416666667);
                transform: scale(0.416666667)
            }
        }

        .gb_Da:hover,
        .gb_Da:focus {
            -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
            box-shadow: 0 1px 0 rgba(0, 0, 0, .15)
        }

        .gb_Da:active {
            -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
            box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15)
        }

        .gb_Da:active::after {
            background: rgba(0, 0, 0, .1);
            -webkit-border-radius: 50%;
            border-radius: 50%;
            content: '';
            display: block;
            height: 100%
        }

        .gb_Ja {
            cursor: pointer;
            line-height: 40px;
            min-width: 30px;
            opacity: .75;
            overflow: hidden;
            vertical-align: middle;
            text-overflow: ellipsis
        }

        .gb_D.gb_Ja {
            width: auto
        }

        .gb_Ja:hover,
        .gb_Ja:focus {
            opacity: .85
        }

        .gb_Ka .gb_Ja,
        .gb_Ka .gb_La {
            line-height: 26px
        }

        #gb#gb.gb_Ka a.gb_Ja,
        .gb_Ka .gb_La {
            font-size: 11px;
            height: auto
        }

        .gb_Ma {
            border-top: 4px solid #000;
            border-left: 4px dashed transparent;
            border-right: 4px dashed transparent;
            display: inline-block;
            margin-left: 6px;
            opacity: .75;
            vertical-align: middle
        }

        .gb_Na:hover .gb_Ma {
            opacity: .85
        }

        .gb_ja>.gb_Oa {
            padding: 3px 3px 3px 4px
        }

        .gb_Pa.gb_Ca {
            color: #fff
        }

        .gb_j .gb_Ja,
        .gb_j .gb_Ma {
            opacity: 1
        }

        #gb#gb.gb_j.gb_j a.gb_Ja,
        #gb#gb .gb_j.gb_j a.gb_Ja {
            color: #fff
        }

        .gb_j.gb_j .gb_Ma {
            border-top-color: #fff;
            opacity: 1
        }

        .gb_E .gb_Da:hover,
        .gb_j .gb_Da:hover,
        .gb_E .gb_Da:focus,
        .gb_j .gb_Da:focus {
            -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .2);
            box-shadow: 0 1px 0 rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .2)
        }

        .gb_Qa .gb_Oa,
        .gb_Ra .gb_Oa {
            position: absolute;
            right: 1px
        }

        .gb_Oa.gb_i,
        .gb_Sa.gb_i,
        .gb_Na.gb_i {
            -webkit-flex: 0 1 auto;
            flex: 0 1 auto;
            -webkit-flex: 0 1 main-size;
            flex: 0 1 main-size
        }

        .gb_Ta.gb_Ua .gb_Ja {
            width: 30px !important
        }

        .gb_Va {
            height: 40px;
            position: absolute;
            right: -5px;
            top: -5px;
            width: 40px
        }

        .gb_Wa .gb_Va,
        .gb_Xa .gb_Va {
            right: 0;
            top: 0
        }

        .gb_Oa .gb_D {
            padding: 4px
        }

        .gb_ee {
            display: none
        }

        

        .z1asCe {
            display: inline-block;
            fill: currentColor;
            height: 24px;
            line-height: 24px;
            position: relative;
            width: 24px
        }

        .z1asCe svg {
            display: block;
            height: 100%;
            width: 100%
        }