/*przy klikaniu w input search na telefonie cały footer skacze do góry i nie wiem za bardzo co za to odpowiada. Próbuję też dociec co odpowiada za ten biały pasek na dole strony 
ale tez jestem bez pomysłu.*/


#navbar {
    display: grid;
    grid-template-columns: 1fr 50px 50px 50px 118.45px;
    grid-template-rows: 60px;
    grid-template-areas: 
    " . gmail image menu sign-in";
    margin: 0 20px 0 10px;
}

a, p {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    font-size: 13px;
    font-family: 'Roboto', Arial , sans-serif;
}
a:hover {
    text-decoration: underline;
}


#gmail {
    grid-area: gmail;
    justify-self: center;
    align-self: center;
    margin-right: 15px;
}
#image {
    grid-area: image;
    justify-self: center;
    align-self: center;
    margin-right: 10px;
}
#menu {
    height: 36px;
    width: 36px;
    grid-area: menu;
    justify-self: center;
    align-self: center; 
    margin-right: 30px;
    margin-left: 20px;
    border-radius: 50%;
}
#menu:hover{
    
    background-color: #5F6368;
}
#menu_icon{
    
    padding-left: 9px;
    justify-self: bottom;
    align-self: center;
    
}
#menu_icon i {
    padding-top: 10px;
}
#sign-in {
    grid-area: sign-in;
    justify-self: center;
    align-self: center;
    background-color: #1f5abe;
    height: 36px;
    width: 118.45px;
    line-height: 36px;
    text-align: center;
    color: white;
    font-weight: light;
    border: 1px solid #4285f4;
    border-radius: 5%;
}
#sign-in:hover{
    text-decoration: none;
    background-color: #5589e4;
    border: 1px solid #5589e4;
}

/*Main Section*/
#main {
    min-height: 100%;
    display: grid;
    padding-top: 50px;
    padding-bottom: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 70px 70px 1fr;
    grid-template-areas: 
    ". logo ."
    ". search ."
    ". flexbox ."
    ". google-text .";
}

#logo {
    grid-area: logo;
    justify-self: center;
    align-self: end;
    aspect-ratio: auto 272 / 92
}
#search {
    border: none;
    grid-area: search;
    height: 30px;
    width: 80%;
    align-self: center;
    justify-self: center;
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 30px;
    background: url(search-solid.svg) no-repeat scroll 0.02px 0.02px;
    background-position: left;
    padding-left:30px;

}

#search:focus {
    box-shadow: 1px 1px 5px grey;
}
#search:hover {
    box-shadow: 1px 1px 5px grey;
}

#flexbox {
    display: flexbox;
    grid-area: flexbox;
    justify-self: center;
    align-self: center;
}
#google-search-btn {
    border: none;
    font-size: 15px;
    color: #70757a;
    margin-right: 25px;
    padding: 7px 15px 7px 15px;
    border-radius: 3px;
}
#random-search-btn {
    border: none;
    font-size: 15px;
    color: #5F6368;
    padding: 7px 15px 7px 15px;
    border-radius: 3px;
}
#google-search-btn:hover {
    border: 1px solid rgba(0, 0, 0, 0.226);
    cursor: pointer;
}
#google-search-btn:active{
    border-color: #4285f4;
    border-width: 2px;
    
}
#random-search-btn:hover {
    border: 1px solid rgba(0, 0, 0, 0.226);
    cursor: pointer;
}

#google-text {
    grid-area: google-text;
    justify-self: center;
}
#english {
    color: blue;
}


#footer_location_bar {
    background-color: #e5eaee;
    min-width: 100%;
    position: relative;
    bottom: 0;    
    display: block;;
    min-height: 50px;
} 
#footer_location_bar p{
    padding-top: 20px;
    padding-left: 20px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    justify-self: start;
    align-self: center;
    text-align: left;
    color: #70757a;
    
    
}
#footer {
    border-top: 1px #000;
    color: #70757a;
    margin-block-start: 0px;
    margin-block-end: 0px;
    background-color: #e5eaee;
    min-width: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 70px 100px 100px 150px 1fr 70px 70px 70px;
    grid-template-rows: 50px;
    grid-template-areas: 
    "about advertising business hsw . privacy terms settings";
}
#footer a{
    color: #70757a;
}
#about {
    grid-area: about;
    justify-self: center;
    align-self: center;
}
#advertising {
    grid-area: advertising;
    justify-self: center;
    align-self: center;
}
#business {
    grid-area: business;
    justify-self: center;
    align-self: center;
}
#hsw {
    grid-area: hsw;
    justify-self: center;
    align-self: center;
}
#privacy {
    grid-area: privacy;
    justify-self: end;
    align-self: center;
    
}
#terms {
    grid-area: terms;
    justify-self: end;
    align-self: center;
   
}
#settings {
    grid-area: settings;
    justify-self: end;
    align-self: center;  
    margin-block-start: 0px;
    margin-block-end: 0px;
}

