body {
    background-color: white;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 81.25%;
    display:block;
    margin:0;
}
 .search_results{
    display:none;
}

.page{
    display: flex;
    flex-direction: column;
    height: 100%;
}

body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 6px;
    height: 60px;
    flex-shrink: 0;
    box-sizing: border-box;
    float: right;
}
.navbar_text a{
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    color: #222;
    padding-right: 15px;
}
.navbar_text a:hover{
    text-decoration: underline;
}
.navbar_icon{    
    padding-top: 20px;
    display: inline-block;
    height: 40px;
    width: 40px;   
    border-radius: 50%;       
    margin-right: 15px;
    background-color:transparent;
    
    cursor:pointer;
}
.navbar_icon:hover{
    
    background-color: gray;
}
.navbar_icon a li{
    
    align-self: center;
    justify-self: center;
}
.navbar_icon a {
    
    padding-left: 12px;
    text-decoration: none;
    color: #222;
    
}
.blue_login{
    display: inline-block;
    margin-left: 8xp;
    background: #4285f4;
    background: #1a73e8;
    color: #fff;
    border: 1px solid transparent;   
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;    
    border-radius: 4px;    
    cursor: pointer;
}
.blue_login:hover{
    border-color: #4285f4;
}


.search{
    width: auto;
    max-width: 584px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}

.search_in{
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}
.type_in{
    background-color: transparent;
    border: none;   
    color: rgba(0,0,0,.87);  
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: 0;
    height: 34px;
    max-width: 447px;
    font-size: 16px;
    align-self: flex-end;
    padding-left: 20px;
    padding-bottom: 5px;
}
.lupa{
    max-width: 28px;
    background: transparent;

    padding-bottom: 10px;
}
.microphone{
    max-width: 18px;
    padding-top: 5px;
    align-self: flex-end;
    padding-left: 30px;
}

.center {
    margin-top: 70px;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.google{
    max-width: 272px ;
    max-height: 92px;
    width: 272px;
    background-color: transparent;
}

.search_field{
    margin-top: 20px;
    display: block;
    height: 70px;   
}
.search_buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;   
}

.searching_btn{
    
    border: 1px solid transparent;
    border-radius: 5px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
   
}
.lucky_btn{
    border: 1px solid transparent;
    border-radius: 5px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.footer{
    
    position: fixed;
    bottom: 0;
    width: 100%;   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgb(204, 204, 204);
}
.polska{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}
.bottom_bottom{display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: rgba(0,0,0,.54);
}
.pHiOh {
    display: block;
    padding: 15px;
    white-space: nowrap;
    color: rgba(0,0,0,.54);
    text-decoration: transparent;
}

.pHiOh a:hover{   
    text-decoration: underline;
}
.bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #f2f2f2;

}

.polska{
    display: block;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.other{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.footer_middle{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dadce0;
    order: 2;
    padding-bottom: 15px;
}

.footer_top{
    justify-content: flex-start;
    min-width: 30%;
    order: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer_bottom{
    justify-content: flex-end;
    min-width: 30%;
    order: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
 .coal {
    margin-top:15px;
    color: #70757a;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: top;
    
}

.coal:hover{
    text-decoration:underline;
}

.footer_btns{
    display: block;
    padding: 15px;
    white-space: nowrap;
    text-decoration: none;
    color: #70757a;
}
.footer_btns:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 1200px){
    .other{
        justify-content: space-evenly;
    }
    .footer_top{
        justify-content: space-evenly;
        order: 2;
    }
    .footer_middle{
        justify-content: space-evenly;
        width: 100%;
        justify-content: center;
        order: 1;
    }
    
    .line_bottom{
        justify-content: space-evenly;
        order: 3;
    }
}
